*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: 
    #FD6E0A;
}
.btn-primary{
    height: 64px;
    border-radius: 20px;
    background-color: #FD6E0A;
    width: 150px;
    height: 60px;
    color: #FFFFFF;
    border: 0;
    font-weight: 700;
    font-size: 20px;
}
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* header & navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin: 50px;
}

/* banner style */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
h3{
    font-weight: 500;
    font-size: 45px;
    
}
h1{
    
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 25px;
}

p{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
button{
    color: red;
    background-color: #FD6E0A;
    color: white;
    border-radius: 25px;
    Height: 60px;
    width: 150px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
}
/* main section */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about{
    margin-top: 60px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    margin-bottom: 15px;

}
.section-title{
    
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;

}
.info-title{
    font-size: 20px;
    color: #757575;
    margin-bottom: 5px;
    
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
/* what i do styles */
.what{
    margin-top: 30px;
    /* background: yellow; */
    border-radius: 10px;
    padding: 70px 60px;
    text-align: center;
}
.description{
    color: red;
    font-size: 18px;
    margin-bottom: 70px;

}

.skills-container{
    display: flex;
    margin-top: 50px;
    
}
.skill{
    background-color: #ffffff;
    box-shadow: 0px 6px 15px rgba(0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
    
}
/* resume styles */

.resume-content{
    display: flex;
    gap: 24px;
}
.resume-title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-button{
    text-align: center;
}

/* cotact style */

.contact{
    display: flex;
    gap: 100px;
    background-color: #fff8f3;
    pad: 130px 200px;
}
.contact .section-title{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}

